h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-weight: 700;
  line-height: 1.2;
}
.post-title,
.section-title {
  font-size: 32px;
  line-height: 1.2;
}

.banner-title {
  font-size: 28px;
  line-height: 1.2;
}
.category-title {
  font-size: 16px;
  line-height: 1.2;
}