h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--bs-dark);
  font-weight: 700;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}

.category-title {

}

.post-title {

}