:root{
  --color-primary: #6BB252;
  --color-primary-rgb: 107, 178, 82;
  --color-secondary: #364127;
  --color-secondary-rgb: 54, 65, 39;
  --color-danger: #F95F09;
  --color-danger-rgb: 249, 95, 9;
  --color-success: #a3be4c;
  --color-success-rgb: 163, 190, 76;
  // Text
  --color-dark: #212529;
}